  <form method="post" action="#">
    <div class="" style="float: left; width: 70px;">
      <input type="text" name="demo-name" id="enter" value="10" placeholder="Сумма" />
    </div>
    <ul class="actions">
      <li><a id="go_donate" style="height: 44px" href="https://money.yandex.ru/to/410013162271067/" class="button fit">Автору на чай</a></li>
    </ul>
  </form>
  <script language="JavaScript">
  $(function() {
    var link = $('#go_donate');
    var linkDefaultHref = link.attr("href");
    link.attr("href", linkDefaultHref + $('#enter').attr("value"));
    $('#enter').on('keyup', function() {              
      link.attr("href", linkDefaultHref + $(this).val());
    });
  });
</script>