<!-- Header -->
  <header id="header">
    <h1><a href="{{ "/" | prepend: site.baseurl }}">vikapitoshka</a></h1>
    <nav class="links">
      <ul>

        {% for tag in site.data.links %}
          <li><a href="{{ tag.href | prepend: site.baseurl }}">{{ tag.name }}</a></li>
        {% endfor %}
        
      </ul>

    </nav>
    <nav class="main">
      <ul>
        <li class="menu">
          <a href="#menu"><i class="fas fa-bars"></i></a>
        </li>
      </ul>
    </nav>

    <!-- Menu -->
    <section id="menu">
      <!-- Search -->
      <section>
        <ul class="links">
          
          {% for tag in site.data.links %}
          <li><a href="{{ tag.href | prepend: site.baseurl }}"><h3>{{ tag.name }}</h3></a></li>
          {% endfor %}
          
        </ul>
      </section>
    </section>
  </header>
