@media (min-width: 980px) {
    .toTop {
        position: fixed;
        left: 0;
        height: 100%;
        width: 18px;
        background-color: transparent;
        z-index: 1000;
        transition: 0.5s background-color ease;
    }
    .toTop:hover {
        background-color: #d4d4d4;
        transition: 0.5s background-color ease;
        cursor: pointer;
    }
    .fa-angle-up {
        text-align: center;
        position: fixed;
        width: 18px;
        padding-top: 10px;
    }
}

.toTop {
    display:none;
}