<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ru" }}">

  {% include head.html %}

  {% if page.title %}
    <body class="single">
  {% else %}
    <body>
  {% endif %}

  <div class="toTop">
    <i class="fas fa-angle-up"></i>  
  </div>  


    <div id="wrapper">

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div id="main">
        {{ content }}        
      </div>
    </main>
    {% if page.title %}
     {% include footer.html %}
    {% else %}
      {% include index-footer.html %}
    {% endif %}    
    </div>

  </body>

  <!-- Scripts -->
      <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
      <script src="{{"/assets/js/skel.min.js" | prepend: site.baseurl}}"></script>
      <script src="{{"/assets/js/util.js" | prepend: site.baseurl}}"></script>
      <!--[if lte IE 8]><script src="{{"/assets/js/ie/respond.min.js" | prepend: site.baseurl}}"></script><![endif]-->
      <script src="{{"/assets/js/main.js" | prepend: site.baseurl}}"></script>
      <!--script src="{{"/assets/js/viewportchecker.js" | prepend: site.baseurl}}"></script-->
      <script src="{{"/assets/js/transition.js" | prepend: site.baseurl}}"></script>
      <script src="{{"/assets/js/targetblank.js" | prepend: site.baseurl}}"></script>
      <!--script src="{{"/assets/js/animated.js" | prepend: site.baseurl}}"></script-->
      <script src="{{"/assets/js/scrollTop.js" | prepend: site.baseurl}}"></script>

      {% include analytics.html %}

</html>
