<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ru" }}">

  {% include head.html %}

  {% if page.title %}
    <body class="single">
  {% else %}
    <body>
  {% endif %}  


    <div id="wrapper">

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div id="main">
        {{ content }}        
      </div>
    </main>
    {% if page.title %}
     {% include footer.html %}
    {% else %}
      {% include index-footer.html %}
    {% endif %}    
    </div>

  </body>

  <!-- Scripts -->
      <script src="{{"/assets/js/jquery.min.js" | prepend: site.baseurl}}"></script>
      <script src="{{"/assets/js/skel.min.js" | prepend: site.baseurl}}"></script>
      <script src="{{"/assets/js/util.js" | prepend: site.baseurl}}"></script>
      <!--[if lte IE 8]><script src="{{"/assets/js/ie/respond.min.js" | prepend: site.baseurl}}"></script><![endif]-->
      <script src="{{"/assets/js/main.js" | prepend: site.baseurl}}"></script>
      <script type="text/javascript">
        $(document).ready( function() {
          var c_host = document.location.host.replace(/www\./, '');
          $(document.body).on('click', 'a', function() {
            if (this.href && this.href.indexOf(c_host) == -1) {
              $(this).attr('target', '_blank');
            }
          });
        });
      </script>

</html>
