---
layout: default
---
<article class="post">
  <header> 
    <div class="title">
      <h2>{{ page.title | escape }}</h2>
      <p><a href="//github.com/ViKapitoshka/blog/edit/master/{{ page.path }}" class="icon fa-edit">Редактировать на GitHub</a></p>
    </div>
    <div class="meta">
      <time class="published" datetime="{{ page.date }}">{{ page.date | date: "%d %b %Y %R" }}</time>
      <a href="{{ site.author.cv }}" class="author"><span class="name">V.{{ site.author.last_name }}</span><img src="{{ site.author.avatar | prepend: site.baseurl }}" alt="ViKapitoshka" /></a>
    </div>
  </header>
  {{ content }}
  
  <footer>
    <ul class="stats">
      <li><a href="{{ site.url }}" class="icon fa-folder">Главная</a></li>
      <li><a href="//github.com/ViKapitoshka/blog/edit/master/{{ page.path }}" class="icon fa-edit">Edit</a></li>
    </ul>
  </footer>
  <form method="post" action="#">
    <div class="" style="float: left; width: 70px;">
      <input type="text" name="demo-name" id="enter" value="100" placeholder="Сумма" />
    </div>
    <ul class="actions">
      <li><a id="go_donate" style="height: 44px" href="https://money.yandex.ru/to/410013162271067/" class="button fit">Автору на чай</a></li>
    </ul>
  </form>
</div>
</article>
<ul class="actions pagination">
  {% if page.previous.url %}
    <li><a href="{{page.previous.url}}" class="button big previous">Previous Page</a></li>
  {% endif %}
  {% if page.next.url %}
    <li><a href="{{page.next.url}}" class="button big next">Next Page</a></li>
  {% endif %}
</ul>
<script language="JavaScript">
  $(function() {
    var link = $('#go_donate');
    var linkDefaultHref = link.attr("href");
    link.attr("href", linkDefaultHref + $('#enter').attr("value"));
    $('#enter').on('keyup', function() {              
      link.attr("href", linkDefaultHref + $(this).val());
    });
  });
</script>
<hr>
{% include comment.html %}
<hr>

